textarea, input {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.header-title {
    color: #ffffff;
}

.header-logo {
    width: 32px;
    height: 32px;
}

section.hero div.hero-head nav div.navbar-brand {
    align-items: center;
}

.panel-block.panel-level2 {
    padding-left: 20px;
}

.panel-block.panel-level3 {
    padding-left: 40px;
}

div.modal-card section div.field-body {
    flex-grow: 3;
}

.notification.license-feedback {
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0.9;
    text-align: center;
    display: none;
}

.notification.license-feedback > .delete {
    right: 0.5rem;
    top: 0.5rem;
}