textarea, input {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.header-title {
    color: #ffffff;
}

.header-logo {
    width: 32px;
    height: 32px;
}

section.hero div.hero-head nav div.navbar-brand {
    align-items: center;
}

div.modal-card section div.field-body {
    flex-grow: 3;
}

.notification.license-feedback {
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0.9;
    text-align: center;
    display: none;
    z-index: 100;
    margin-bottom: 0;
}

.notification.license-feedback > .delete {
    right: 1.25rem;
    top: 1.25rem;
}

.notification.license-feedback h2 {
    text-transform: none;
}

div.modal-card > footer {
    justify-content: flex-end;
}

#appList .panel-block.is-active {
    border-left-color: #3273dc;
}

#appList .panel-block.is-active .panel-icon {
    color: #3273dc;
}

#appList .panel-block.is-active > span {
    background-color: #3273dc;
}

#licenseTable > tr {
    cursor: pointer;
}

#viewLicenseModal input {
    border-color: #efefef;
}

#viewLicenseModal textarea   {
        border-color: #efefef;
}